.btn-group button {
  color: white;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}


.buttonEat{
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white;
}

.buttonDontEat {
  background-color: rgb(255, 4, 4); 
  border: 1px solid rgb(128, 0, 0); 
  color: white;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group .buttonEat:hover {
  background-color: #3e8e41;
}
.btn-group .buttonDontEat:hover {
  background-color: #ea3030;
}

.healthBar {
  padding: 50px;
  width: 75%;
}

.header {
padding: 50px;
text-align: center;
font-family: 'Chilanka', cursive;
}
