body {

}

h1 {
  font-size: 5rem;
  font-weight: bolder;
}

.btn-group button {
  color: white;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; 
  float: left; 
}

.buttonEat{
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white;
  margin-right: 5px;
}

.buttonDontEat {
  background-color: rgb(255, 4, 4); 
  border: 1px solid rgb(128, 0, 0); 
  color: white;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group .buttonEat:hover {
  background-color: #3e8e41;
}
.btn-group .buttonDontEat:hover {
  background-color: #ea3030;
}

.btn-group .buttonEat:active {
  background-color: #00aaff;
}
.btn-group .buttonDontEat:active {
  background-color: #00aaff;
}

.healthBar {
  padding: 50px;
  width: 75%;
}

.header {
padding: 50px;
text-align: center;
font-family: 'Chilanka', cursive;
}
