.btn-group button {
  color: white;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; 
  float: left; 
}

.buttonEat{
  background-color: #4CAF50; 
  border: 1px solid green; 
  color: white;
}

.buttonDontEat {
  background-color: rgb(255, 4, 4); 
  border: 1px solid rgb(128, 0, 0); 
  color: white;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group .buttonEat:hover {
  background-color: #3e8e41;
}
.btn-group .buttonDontEat:hover {
  background-color: #ea3030;
}

.btn-group .buttonEat:active {
  background-color: #00aaff;
}
.btn-group .buttonDontEat:active {
  background-color: #00aaff;
}
